
@model MyEcommerceAdmin.Models.Supplier
@{
    ViewBag.Title = "Editar proveedor";
}

<div class="row">
    <div class="col">
        <div class="row g-3">
            <div class="col-md-4">
                <h2 class="text-info">@Model.CompanyName</h2>
            </div>
        </div>
        <hr />
        <div class="col-md-12">
            @using (Html.BeginForm("Edit", "Supplier", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.SupplierID)

                <div class="row g-3">
                    <div class="col-md-12">
                        <label>Empresa</label>
                        @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.CompanyName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label>Nombre del contacto</label>
                        @Html.TextBoxFor(x => x.ContactName, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.ContactName, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        <label>Titulo del contacto</label>
                        @Html.TextBoxFor(x => x.ContactTitle, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.ContactTitle, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        <label>Correo electronico</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control fs-4", Type = "email" })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label>Telefono</label>
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label>Pais</label>
                        @Html.TextBoxFor(x => x.Country, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.Country, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label>Ciudad</label>
                        @Html.TextBoxFor(x => x.City, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.City, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        <label>Direccion</label>
                        @Html.TextAreaFor(x => x.Address, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6" style="padding-top:50px;">
                        <button type="submit" class="btn btn-success btn-lg col-12"><i class="fa-solid fa-up fs-4"></i> Actualizar</button>
                    </div>
                </div>
            }

            <div class="col-md-12 d-flex justify-content-lg-start mt-3">
                <a href="@Url.Action("Index", "Supplier")" class="btn btn-danger btn-sm fs-4"><i class="fa-regular fa-hand-back-point-left"></i> Regresar</a>
            </div>
        </div>
    </div>
</div>



